@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
}

body {
   height: 100vh;
   margin: 0;
   overflow: hidden;
   display: flex;
   justify-content: center;
   background-color: rgb(246, 244, 244);
}

.container {
   display: flex;
   flex-direction: column;
   max-height: 600px;
   width: 45%;
   border: 0;
   background-color: rgb(49, 61, 71);
   color: white;
   border-radius: 5px;
   margin-top: 30px;
   box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.7);
   overflow: hidden;
}

h1 {
   text-align: center;
   margin-bottom: 0;
}

.text-container {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 10px 20px;
}

#text {
   width: 85%;
   resize: none;
   height: 57px;
   font-size: 30px;
   border: none;
   font-weight: 600;
   padding: 3px;
}

#text:focus {
   outline: none;
}

#add {
   width: 8%;
   font-size: 45px;
   margin-left: 15px;
   font-weight: 600;
   padding: 0;
   background-color: #237f52;
   color: white;
   border: none;
   border-radius: 3px;
   transition: transform 0.09s ease;
}

#add:focus {
   outline: none;
}

#add:active {
   transform: scale(0.94);
}

.list-container {
   display: flex;
   width: 100%;
   margin: 10px 0px;
   justify-content: center;
   height: 70%;
}

.list-container ul {
   display: flex;
   width: 95%;
   flex-direction: column;
   height: 100%;
   justify-content: flex-start;
   list-style-type: none;
   align-items: flex-start;
   background-color: rgb(246, 244, 244);
   padding: 6px 10px;
}

.list-container ul li {
   background-color: rgb(246, 244, 244);
   color: black;
   margin: 10px 0px;
   font-size: 21px;
   font-weight: 600;
   width: 80%;
   display: flex;
   align-items: center;
   border-bottom: 1px solid gray;
}

.list-container ul li input {
   transform: translateX(-50%) scale(1.7);
}

.list-container ul li.checked {
   text-decoration: line-through;
   color: lightgrey;
}

.list-container ul li .del {
   background-color: firebrick;
   color: white;
   opacity: 0;
   transform: translateX(50%);
   border: none;
   transition: opacity 0.4s ease;
}

.list-container ul li .del:focus {
   outline: none;
}

.list-container ul li .del:active {
   transform: scale(0.94) translate(50%);
}

.list-container ul li:hover .del {
   opacity: 1;
}
