@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
   box-sizing: border-box;
}

body {
   font-family: 'Inter';
   margin: 0;
}

.container {
   min-height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   transition: all 1s ease;
}

.container.show {
   background-color: hsl(230, 17%, 14%);
}

.inner-container {
   width: 80%;
}

.dashboard-container {
   width: 100%;
   height: 110px;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   transition: all 1s ease;
}

.dashboard-container.show {
   color: white;
}

.dashboard-container h1 {
   margin-bottom: 0;
}
.small-title {
   margin-top: 0;
   font-weight: 100;
}

.toggle-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

i {
   font-size: 30px;
   margin-left: 10px;
   transition: all 0.4s ease;
}

.follower-count {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 30px;
}

.follower-count > *.show {
   background-color: hsl(228, 28%, 20%);
   color: white;
}

.follower-count > * {
   border-top: 5px solid hsl(146, 68%, 55%);
   font-family: inherit;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 200px;
   width: auto;
   border-radius: 5px;
   background-color: hsl(227, 47%, 96%);
   transition: all 1s ease;
}

.follower-count > * > small {
   font-weight: 900;
   font-size: 14px;
}

.overview-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   transition: all 1s ease;
}
h2 {
   transition: all 1s ease;
}

h2.show {
   color: white;
}

.stats-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 30px;
   margin-bottom: 50px;
}

.stats-container > * {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 150px;
   background-color: hsl(227, 47%, 96%);
   border-top: 5px solid hsl(210, 78%, 56%);
   border-radius: 5px;
   transition: all 1s ease;
}

.stats-container > * > div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 20px;
}

.stats-container > *.show {
   background-color: hsl(228, 28%, 20%);
   color: white;
}

.stats-container > * > div > small {
   margin-top: 20px;
   font-weight: 900;
}

.follower-count > * > strong {
   font-size: 40px;
   font-weight: 900;
}
