* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

#loading-container {
    max-width: 450px;
    width: 50%;
    height: 20px;
    background-color: rgb(199, 198, 198);
    border-radius: 6px;
    overflow: hidden;
}

.loading {
    display: none;
    background-color: tomato;
    color: white;
    transition: width .2s ease;
    font-weight: 600;
    height: 100%;
}

.loading.show {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}